{% extends 'base.html' %}

{% block title %}
    @{{ user.username }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ user.gravatar }}" />

        <h3>@{{ user.username }}</h3>
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p>{{ user.bio }}</p>

        {% if is_viewing_self %}
            <a href="{% url 'edit_profile' %}">Edit</a>
        {% endif %}
        <br>
        <a href="favorites/">Favorites</a>
    </div>
    <div class="col-md-9">
        {% for panel in panels %}
            <div class="
                {% if panel.panel_size == 'small' %}
                    col-md-4
                {% elif panel.panel_size == 'medium' %}
                    col-md-8
                {% elif panel.panel_size == 'large' %}
                    col-md-12
                {% endif %}">
              <div class="shadow border">
                {% if "table" in panel.panel_type %}
                    <p>Panel created by @{{ panel.user.username }}</p>
                    <p>{{ panel.game_title }} Table | ${{ panel.max_game_price|floatformat:2 }}</p>
                    <p>{{ panel.description }}</p>
                    {% if user.username == panel.user.username %}
                    <a href="/panel-update/{{ panel.id }}/" class="btn btn-outline-primary"> ✏️ </a>
                    <a href="/panel-delete/{{ panel.id }}/" class="btn btn-outline-danger"> 🗑️ </a>
                    {% endif %}
                {% else %}
                    <p>Panel created by @{{ panel.user.username }}</p>
                    <p>{{ panel.game_title }} Chart | ${{ panel.max_game_price|floatformat:2 }}</p>
                    <p>{{ panel.description }}</p>
                    {% if user.username == panel.user.username %}
                    <a href="/panel-update/{{ panel.id }}/" class="btn btn-outline-primary"> ✏️ </a>
                    <a href="/panel-delete/{{ panel.id }}/" class="btn btn-outline-danger"> 🗑️ </a>
                    {% endif %}
                {% endif %}
                {% if "table" in panel.panel_type %}
                    {% include "table_snippet.html" %}
                {% elif "vertical-bar chart" in panel.panel_type %}
                    <embed type="image/svg+xml" src="{{ panel.get_vertical_bar_chart|safe }}"/>
                {% else %}
                    <embed type="image/svg+xml" src="{{ panel.get_horizontal_bar_chart|safe }}"/>
                {% endif %}
              </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}

