<table class="table table-bordered">
        <thead>
            <tr>
                <th>Game Title</th>
                <th class="text-center">Cover Art</th>
                <th class="text-center">Release Date</th>
                <th class="text-center">Price (Sale/Original)</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Deal Rating</th>
            </tr>
        </thead>
        {% for game in panel.get_table_data %}
        <tbody>
            <tr>
                <td class="align-middle">{{ game.title }}</td>
                <td class="text-center"><img src= "{{ game.thumb }}"></td>
                <td class="text-center align-middle">{{ game.releaseDate }}</td>
                <td class="text-center align-middle">${{ game.salePrice }} / ${{ game.normalPrice }}</td>
                <td class="text-center align-middle">{{ game.steamRatingPercent }}</td>
                <td class="text-center align-middle">{{ game.dealRating }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>


