{% extends "base.html" %}

{% block title %}
    Ratings
{% endblock title %}


{% block content %}
<h1>Check out their Ratings</h1>
<form method="GET" action="/ratings">
    <div class="input-group mb-2">
        <input name="searchterm" type="text" class="form-control form-control-lg" placeholder="Enter Game Title you are looking for..." />
        <button class="btn btn-primary btn-lg input-group-text bg-button">Search</button>
    </div>
</form>
{% if search_term %}
    <h2>Displaying Results for {{ search_term }} </h2>
{% endif %}
<embed type="image/svg+xml" src="{{ rendered_chart_svg|safe }}"/>
{% endblock content %}