/* Custom CSS goes here */

.navbar {
    background: radial-gradient(circle, rgba(24,24,24,1) 0%, rgba(33,33,33,1) 100%);
    box-shadow: 5px -2px 3px 5px #8e7cc3;   
}

.card-user {
    max-width: 80px;
}

.navbar-avatar {
    height: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.bg-link {
    color: #8e7cc3;
    text-shadow: .25px .25px .5px #483a70;
}
.bg-link:hover {
    color: lightgray;
}
.bg-user-link {
    color: #212121;
    text-shadow: 1px 1px 1px lightgray;
}
.bg-user-link:hover {
    color: whitesmoke;
}

body {
    background: linear-gradient(90deg, rgba(161,161,161,1) 10%, rgba(186,184,184,1) 50%, rgba(161,161,161,1) 90%);
}

h1 {
    font-weight: bold;
    color: #212121;
    text-align: center;
    text-shadow: 1px 1px 2px whitesmoke;
}
.bg-table {
    border: 2px solid black;
    overflow-x: auto;
}
.bg-td-salePrice {
    color: green;
}
.bg-td-normalPrice {
    color: red;
}
thead {
    background: #212121;
    color: #8e7cc3;
    text-shadow: .25px .25px .5px #483a70;
}
tbody:nth-child(even) {
    background: whitesmoke;
}
tbody:nth-child(odd) {
    background: lightgray;
}

.panels {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    justify-content: center;
    gap: 10px;

}
.bg-button {
    background-color: #8e7cc3;
    border: 1px solid #8e7cc3;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.bg-button:hover {
    background-color: #212121;
    border: 1px solid #212121;
}
.bg-fave-button {
    color: #212121;
    transition: background-color 0.3s ease;
}
.bg-fave-button:hover {
    background-color: #8E7CC3;
}
.bg-panel {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding-left: 5px;
}
.bg-panel-type {
    font-size: 20px;
    font-weight: bold;
}
.bg-panel-user {
    font-size: 15px;
}
.bg-panel-description {

}
.bg-panel-editbutton, .bg-panel-deletebutton {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    height: 40px;
    width: 40px;
    margin-top: 3px;
}

.bg-panel-chart {
    border: 3px solid black;
}
.bg-panel-table {
}
.bg-userpage-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
}
.bg-panel-button-container {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
}
@media (max-width: 768px) {
    .panels {
        justify-content: flex-start;
    }

    .bg-panel {
        padding: 15px;
    }

    .bg-panel-type {
        font-size: 18px;
    }

    .bg-panel-description {
        font-size: 13px;
    }

    .bg-panel-editbutton,
    .bg-panel-deletebutton {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 480px) {
    .panels {
        flex-direction: column;
        align-items: center;
    }

    .bg-panel {
        width: 100%;
        margin-bottom: 20px;
    }
}
